.page-header a, .page-header a:hover, .page-header a:focus, .page-header a:active {
    color: black;
    text-decoration: none;
}

.google-visualization-tooltip {
    width: 200px;
    display: block;
    padding: 10px !important;
}
.google-visualization-tooltip h4 {
    margin: 0;
}

#user_calendar { margin-top: 20px; }

#realtime { max-width: 400px; }
#realtime ul { list-style: none; }
.channel { padding-left: 20px; }
.channel h4 { margin: 0; }
.channel ul { margin: 0; }


.spinner {
    width: 40px;
    height: 40px;
    background-color: #2196F3;

    margin: 10px;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
