.page-header a, .page-header a:hover, .page-header a:focus, .page-header a:active {
    color: black;
    text-decoration: none;
}

.google-visualization-tooltip {
    width: 200px;
    display: block;
    padding: 10px !important;
}
.google-visualization-tooltip h4 {
    margin: 0;
}

#user_calendar { margin-top: 20px; }

#realtime { max-width: 400px; }
.channel { padding-left: 20px; }
.channel h4 { margin: 0; }
.channel ul { margin: 0; }
